
.sigContainer {
  margin: .5rem 0 .5rem 0;
  padding-left: unset !important;
}
.sigInitialContainer {
  margin: .5rem 0 .5rem 0;
  padding-left: unset !important;
  padding-right: unset !important;
}
.sigPad {
  width: 100%;
  height: 100%;
  background-color:antiquewhite;
}

.sigImage {
  background-size: 200px 50px;
  width: 200px;
  height: 50px;
  background-color: white;
}

.initialImage {
  background-size: 90px 50px;
  width: 90px;
  height: 50px;
  background-color: white;
}

.chooseContainer {
  margin: .5rem 0 0 0;
  padding: .5rem 0 .5rem 0 !important;
 background-color: aliceblue;
}
.boxshadowEffect1{
	-webkit-box-shadow: 0 8px 6px -6px #777;
	   -moz-box-shadow: 0 8px 6px -6px #777;
          box-shadow: 0 8px 6px -6px #777;
}
.boxshadowEffect1:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}