.signdocument{
    /* width: 85%; */
    min-height: 100vh;  
    background: gray;  
}

.basecomponentOutterDiv{
    display: flex;
    height: 50px;
    width: 130px;
}

.sign {
    position: absolute;
    height: inherit; 
    width: inherit;  
    background: url(signature.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}
